<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=your_host)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=your_service)));User Id=your_username;Password=your_password;" />
        <add name="PostgresConnection" connectionString="Host=localhost;Port=5432;Database=your_database;Username=your_username;Password=your_password" />
    </connectionStrings>
    <appSettings>
        <add key="EncryptionKeyLifetime" value="30.00:00:00"/>
    </appSettings>
</configuration> 